<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- 외부 저장소 읽고 쓰기 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 카메라 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 인터넷 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyphotoActivity"></activity>
        <activity android:name=".MybroadActivity" />
        <activity android:name=".YoutubeActivity" />
        <activity android:name=".YoutubeSearchActivity" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MypageActivity" />
        <activity android:name=".ChattingActivity" />
        <activity android:name=".PhotoEditActivity" />
        <activity android:name=".EditBoardActivity" />
        <activity android:name=".BulletinEditActivity" />
        <activity android:name=".PhotoDetailActivity" />
        <activity android:name=".PhotoUploadActivity" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".ChurchLocationActivity" />
        <activity android:name=".LeadersIntroductionActivity" />
        <activity android:name=".ChurchIntroductionActivity" />
        <activity android:name=".BulletinActivity" />
        <activity android:name=".PhotoGalleryActivity" />
        <activity android:name=".BibleActivity" />
        <activity android:name=".BoardDetailActivity" />
        <activity android:name=".WritingBoardActivity" />
        <activity android:name=".NoticeBoardActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities=".provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>